body {
    margin: 0;
}

.square {
    width: 100%;
}


/* margin使用百分比而非固定值，因元素设置为浮动，避免宽度不够将元素挤下去，，同时就可以取消之前为避免挤压而设置的min-width */

.item {
    float: left;
    margin: 1.15% 0 0 1.15%;
    /* margin: 0 5px 5px 0; */
    padding-bottom: 31.8%;
    width: 31.8%;
    height: 0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffa600;
}


/* height:0 padding-bobttom:百分比与宽度相同实现宽高比例为1：1*/


/* 将css遗漏部分拾起，任务完成后，赶紧弄js */


/* 
flex布局
.square {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex; 
    两个值间用空格 flex-flow: flex-direction,flex-wrap;
    flex-flow: row wrap;
    有两个轴的
    align-content: flex-start;
}
.item {
    height: 63.67px;
    border: 1px solid white;
    background-color: #ffa600;
    box-sizing: border-box; 
    flex:放大、缩小、原始主轴宽度
    flex: 1 1 30%;
    margin: 0 4px 4px 0;
    border-radius: 8px;
} 
*/